/* Configurações gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #fd00a4;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

header nav a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s;
}

header nav a:hover {
    color: #f1f1f1;
}

/* Login Page */
form {
    max-width: 400px;
    margin: 80px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fd00a4;
}

form label {
    font-size: 1em;
    margin-bottom: 5px;
    display: block;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    width: 100%;
    background-color: #fd00a4;
    color: white;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #fd00a4;
}

form p {
    text-align: center;
    color: red;
    margin-top: 10px;
}

/* Página Principal */
main {
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.card h3 {
    margin: 0 0 10px;
    color: #fd00a4;
}

.card p {
    margin: 5px 0;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.card-actions a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fd00a4;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card-actions a:hover {
    background-color: #fd00a4;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
}
